<div>
  <nav class="navbar navbar-expand-sm d-flex fixed-top">
    <span (click)="toggle = !toggle">
      <i class="fa fa-bars text-white button-toggle ml-3"></i>
    </span>
    <a href="#">
      <img
        class="navbar-brand ml-2"
        src="https://zoro.to/images/logo.png"
        alt="images-logo"
      />
    </a>
    <div class="align-items-center search-box">
      <span class="icon-navbar--filter fa-stack">
        <i class="fas fa-square fa-stack-2x text-white"></i>
        <i class="fas fa-filter fa-stack-1x text-black"></i>
      </span>
      <div class="input-search__small">
        <input type="text" class="input-search p-2" id="usr" />
        <i class="fas fa-search search icon-navbar--search"></i>
        <span class="btn btn-secondary btn-filter mx-2">filter</span>
      </div>
    </div>
  </nav>
</div>
