.social-media {
  color: white;
  display: inline-block;
  &--item {
    padding: 10px 13px;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
    cursor: pointer;
    & span {
      margin-left: 7px;
    }
    & i {
      position: relative;
      margin: 0;
      padding: 0;
      & .point {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: red;
        z-index: -1;
      }
    }
    &__blue {
      background-color: #3b5998;
    }
    &__blue-light {
      background-color: rgb(29, 161, 242);
    }
    &__orange {
      background-color: rgb(255, 87, 0);
    }
    &__blue-light-2 {
      background-color: rgb(0, 136, 204);
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
.blue {
  color: #3b5998;
}
.blue-light {
  color: rgb(29, 161, 242);
}
.orange {
  color: rgb(255, 87, 0);
}
.blue-light-2 {
  color: rgb(0, 136, 204);
}
