@import '../../style/variable';
footer {
  background: #2a2c31 url(../../../assets/footer.png) no-repeat;
  background-size: cover;
}
li {
  list-style: none;
  padding-right: 5px;
  margin-top: 5px;
}
.footer-descreption {
  box-sizing: border-box;
  display: inline-block;
}
button {
  border-radius: 5px;
  text-align: center;
}
.btn-letter {
  position: relative;
  padding: 15px;
}
.btn-letter:hover {
  color: var(--color-primary);
}
.btn-letter p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.footer-img {
  width: 120px;
  height: 70px;
}
.about-text {
  line-height: 1.4em;
  opacity: 0.5;
  font-size: 12px;
}
.contact-text {
  font-size: 12px;
}
.footer-filter-title {
  transform: translate(0, -15%);
  color: white;
  line-height: 1em;
  font-size: 1.4em;
  font-weight: 600;
}
.footer-descreption-right {
  border-left: 1px solid white;
}
.footer-descreption-left {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 645px) {
  .footer_list-letter {
    display: none;
  }
  footer {
    background-size: auto;
  }
  .contact-text {
    display: flex;
    justify-content: space-around;
  }
  .about-text {
    text-align: center;
  }
  .footer-descreption-right {
    border-left: none;
  }
  .descreption-right-text {
    border-right: 1px solid white;
    padding-right: 12px;
  }
  .footer-descreption-left {
    border-bottom: none;
  }

  .descreption-right-icon {
    display: flex;
    justify-content: center;
    background-color: white;
  }
}

@media only screen and (max-width: 1025px) {
  .list-letter {
    display: none;
  }
}
